[llm]
api_key = "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
base_url = "https://api.deepseek.com"
model = "deepseek-chat"
source = "crosstalk"

[tts]
source = "dashscope"

[tts.dashscope]
api_key = "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
model = "cosyvoice-v1"
voices = ["longwan", "longcheng"]

[tts.edge]
voices = ["zh-CN-XiaoyiNeural", "zh-CN-YunyangNeural"]

[tts.kokoro]
model = "./models/kokoro/kokoro-v1_1-zh.pth"
voices = [
  "./models/kokoro/voices/zf_xiaoyi.pt",
  "./models/kokoro/voices/zm_yunxi.pt",
]
config = "./models/kokoro/config.json"
lang_code = "z"

[video]
fps = 24
background_audio = "./resource/bgm.mp3"
width = 1080
height = 1920

[video.title]
font = "./fonts/DreamHanSans-W20.ttc"
width_ratio = 0.8
font_size_ratio = 12
position_ratio = 0.5
color = "white"
stroke_color = "black"
stroke_width = 2
text_align = "center"
duration = 0.5

[video.subtitle]
font = "./fonts/DreamHanSans-W20.ttc"
width_ratio = 0.8
font_size_ratio = 17
position_ratio = 0.667
color = "white"
stroke_color = "black"
stroke_width = 1
text_align = "center"

[api]
database_url = "sqlite+aiosqlite:///tasks.db"
app_port = 8000
max_concurrent_tasks = 1
task_timeout_seconds = 600

[material]
source = "pixabay"
minimum_duration = 3
prompt = """### 角色：批量视频搜索词生成器

#### 目标：
根据输入的 JSON 数据（包含相声对话内容），为每个 `content` 字段生成 5 个相关的英语视频搜索词，并返回统计信息。

#### 约束条件：
1. **每个 `content` 字段** 必须生成 5 个相关的搜索词。
2. 输出必须是一个 JSON 数组，其中每个条目包含 `id` 和对应的 `search_terms` 数组。
3. 每个搜索词应由 **1-3 个英文单词** 组成，且必须与视频内容的主题或情节密切相关。
4. **`search_terms` 数组的长度必须为 5**，即每个对话段落都必须生成 5 个相关的搜索词。
5. 搜索词应简洁且贴合对话内容，能够有效地捕捉视频的核心主题或情节。
6. 必须全部使用英文生成搜索词，不允许使用中文。
7. 不返回原始对话内容，仅返回每个 `id` 和生成的 5 个搜索词。

#### 输入格式：
```json
[
  {
    "id": 1,
    "content": "台词内容1"
  },
  {
    "id": 2,
    "content": "台词内容2"
  },
  ...
]
```

#### 输出格式：
```json
{
  "count": 2,
  "dialogues": [
    {
      "id": 1,
      "search_terms": ["search term 1", "search term 2", "search term 3", "search term 4", "search term 5"]
    },
    {
      "id": 2,
      "search_terms": ["search term 1", "search term 2", "search term 3", "search term 4", "search term 5"]
    }
  ]
}
```
"""

[material.pexels]
api_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
locale = "zh-CN"

[material.pixabay]
api_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
lang = "zh"
video_type = "all"
