aiosqlite
async_lru
beautifulsoup4
dashscope
edge-tts
fake_useragent
fastapi
kokoro
moviepy
openai
pycryptodome
pre-commit
Requests
soundfile
sqlalchemy
streamlit
streamlit_authenticator
toml
uvicorn
